---
import '@fontsource/roboto/400.css'
import '@fontsource/roboto/500.css'
import '@fontsource/roboto/700.css'
import Head from '@components/organisms/Head.astro'
import Banner from '@components/organisms/Banner.astro'
import Footer from '@components/organisms/Footer.astro'
import Navbar from '@components/organisms/Navbar.astro'
import BackToTop from '@components/organisms/BackToTop.astro'
import SideBar from '@components/organisms/SideBar.astro'

import { pathsEqual } from '@utils/url-utils'
import { siteConfig } from '@/config'
import ConfigCarrier from '@components/organisms/ConfigCarrier.astro'

interface Props {
  title?: string
  banner?: string
  description?: string
}

let { title, banner, description } = Astro.props

const isHomePage = pathsEqual(Astro.url.pathname, '/')

if (!banner || typeof banner !== 'string' || banner.trim() === '') {
  banner = siteConfig.banner.src
}

// TODO don't use post cover as banner for now
banner = siteConfig.banner.src

const enableBanner = siteConfig.banner.enable

const bodyClassList = {"is-home": isHomePage, "enable-banner": enableBanner}

const siteLang = siteConfig.lang.replace('_', '-')
---
<!DOCTYPE html>
<html data-overlayscrollbars-initialize lang={siteLang} data-is-home={isHomePage}>
	<Head title={title} description={description}><slot slot="head" name="head"></slot></Head>
	<body data-overlayscrollbars-initialize class:list={[bodyClassList]}>
		{enableBanner && <Banner banner={banner}/>}
		<ConfigCarrier></ConfigCarrier>
		<Navbar/>
		<section id="content-wrapper" class="grid grid-cols-1 md:!grid-cols-[17.5rem_auto] gap-4">
		<SideBar/>
			<main id="swup" class="grid-in-main transition-fade">
				<slot></slot>
			</main>
		</section>
		<Footer/>
		<BackToTop/>
	</body>
</html>

<script>
import 'overlayscrollbars/overlayscrollbars.css';
import {
	OverlayScrollbars
} from 'overlayscrollbars';
import {getHue, getStoredTheme, setHue, setTheme} from "../utils/setting-utils";

function setClickOutsideToClose(panel: string, ignores: string[]) {
	document.addEventListener("click", event => {
		const panelDom = document.getElementById(panel);
		const tDom = event.target;
		for (const ig of ignores) {
			const ie = document.getElementById(ig)
			if (ie == tDom || (ie?.contains(tDom as Node))) {
				return;
			}
		}
		panelDom?.classList.add("float-panel-closed");
	});
}
setClickOutsideToClose("display-setting", ["display-setting", "display-settings-switch"])
setClickOutsideToClose("nav-menu-panel", ["nav-menu-panel", "nav-menu-switch"])
setClickOutsideToClose("search-panel", ["search-panel", "search-bar", "search-switch"])


function loadTheme() {
	const theme = getStoredTheme()
	setTheme(theme)
}

function loadHue() {
	setHue(getHue())
}

function setBannerHeight() {
	const banner = document.getElementById('banner-wrapper');
	if (document.documentElement.hasAttribute('data-is-home')) {
		banner?.classList.remove('banner-else');
		banner?.classList.add('banner-home');
	} else {
		banner?.classList.remove('banner-home');
		banner?.classList.add('banner-else');
	}
}

function initCustomScrollbar() {
	OverlayScrollbars(
		// docs say that a initialization to the body element would affect native functionality like window.scrollTo
		// but just leave it here for now
		{
			target: document.querySelector('body')!,
			cancel: {
				nativeScrollbarsOverlaid: true,    // don't initialize the overlay scrollbar if there is a native one
			}
		}, {
		scrollbars: {
			theme: 'scrollbar-base scrollbar-auto py-1',
			autoHide: 'move',
			autoHideDelay: 500,
			autoHideSuspend: false,
		},
	});
	document.querySelectorAll('pre').forEach((ele) => {
		OverlayScrollbars(ele, {
			scrollbars: {
				theme: 'scrollbar-base scrollbar-dark px-2',
				autoHide: 'leave',
				autoHideDelay: 500,
				autoHideSuspend: false
			}
		});
	});
}

function init() {
	setBannerHeight();
	loadTheme();
	loadHue();
	initCustomScrollbar();
}

/* Load settings when entering the site */
init();

/* Load settings before swapping */
document.addEventListener('astro:after-swap', init);

const setup = () => {
if(window.swup && window.swup.hooks){
	// Remove the delay for the first time page load
	window.swup.hooks.on('link:click', () => {
		document.documentElement.style.setProperty('--content-delay', '0ms')
	})
}
	
}
if (window.swup && window.swup.hooks) {
	setup()
} else {
	document.addEventListener('swup:enable', setup)
}

</script>